.ios, .md {
    page-landing {
        ion-content {
            background: #f5f6f7;
            
            .appLogo {
                margin-top: 50px;
                width: 80px;
            }

            .welcomeMsg {
                font-size: 26px;
                margin-bottom: 80px;
            }

            .fbBtn {
                background: #3b5998;
            }

            .googleBtn {
                background: #dd4b39;
            }
            
            .item-inner {
                background: #f5f6f7;
            }
        } 
    }
}